<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/insertProduct">Add Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/api/product">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/login">Log in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/register">Sign in</a>
    </li>
  </ul>
</nav>