<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Products</title>

{{>scripts}}
</head>

<body>
    {{>navbar}}
    <div class="jumbotron jumbotron-fluid" style="padding-top: 50px; padding-bottom: 30px;">
        <div class="container">
            <h1>JUMBOTRON</h1>      
            <p>Important info here.</p>
        </div>
    </div>
    {{{body}}}
</body>
</html>
